#######################################
# Images
#######################################

JAEGER_IMG=jaegertracing/jaeger:latest
NGINX_IMG=nginx:latest
PROMETHEUS_IMG=prom/prometheus:latest
CASSANDRA_IMG=bitnami/cassandra:5.0.4

#######################################
# Enable Services
# Values: 0/1  (0=False, 1= True)
#######################################

ENABLE_NGINX=1
ENABLE_PROMETHEUS=0
